html, body {
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
* {
  -webkit-user-select: none;
}
#main {
  text-align: center;
  position: relative;
}
#main .float-button {
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  background: #eee;
  border-radius: 50%;
  text-align: center;
  transition: transform 0.2s;
}
body > .content {
  position: absolute;
  transition: opacity 0.2s;
  opacity: 0;
}
body.show > .content {
  opacity: 1;
}

body.is-moving,
body.is-moving * {
  cursor: move;
}
body.is-zooming,
body.is-zooming * {
  cursor: nesw-resize;
}
body.is-rotating,
body.is-rotating * {
  cursor: nwse-resize;
}
body.is-transparent > .content,
body.is-manipulating > .content {
  opacity: 0;
}

#zoom {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}
body.is-manipulating #zoom {
  display: block;
}
#zoomStatus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#colorPicker {
  border-radius: 50%;
}
#colorPickerRotation {
  transition: transform 0.1s;
}

.color-picker-history {
  opacity: 0;
  transition: opacity 0.2s;
}

body.show-color-history .color-picker-history {
  opacity: 1;
}

.color-picker-history-selector {
  overflow: hidden;
}

.color-picker-history-selector .color-picker-color-bg {
  margin-left: 50%;
  width: 50%;
  height: 100%;
  display: block;
}

.color-picker-history-hsv {
  opacity: 0.3;
}

.color-picker-history-hsv.active {
  opacity: 1;
}

#control {
  right: 0;
  top: 0;
}
#control .ctrl {
  display: inline-block;
  float: left;
  padding: 10px 5px;
  cursor: pointer;
}
