html, body {
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
* {
  -webkit-user-select: none;
}
#main {
  text-align: center;
  position: relative;
}
#main .float-button {
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  background: #eee;
  border-radius: 50%;
  text-align: center;
  transition: transform 0.2s;
}
body > .content {
  position: absolute;
  transition: opacity 0.2s;
  opacity: 0;
}
body.show > .content {
  opacity: 1;
}

body.is-moving,
body.is-moving * {
  cursor: move;
}
body.is-zooming,
body.is-zooming * {
  cursor: nesw-resize;
}
body.is-rotating,
body.is-rotating * {
  cursor: nwse-resize;
}
body.is-transparent > .content,
body.is-manipulating > .content {
  opacity: 0;
}

#zoom {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}
body.is-manipulating #zoom {
  display: block;
}
#zoomStatus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#colorPicker {
  border-radius: 50%;
}
#colorPickerRotation {
  transition: transform 0.1s;
}

.color-picker-history {
  opacity: 0;
  transition: opacity 0.2s;
}

body.show-color-history .color-picker-history {
  opacity: 1;
}

.color-picker-history-selector {
  overflow: hidden;
}
.color-picker-history-selector .color-picker-color-bg {
  margin-left: 50%;
  width: 50%;
  height: 100%;
  display: block;
}

.color-picker-history-hsv,
.float-button-child-item {
  opacity: 0.3;
}
.color-picker-history-hsv.active,
.float-button-child-item.active {
  opacity: 1;
}

.float-button-child-item {
  padding: 3px;
}

.color-picker-sv,
.color-picker-hue {
  transition: opacity 0.2s;
}
.float-button-child {
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 90%;
}
body.show-float-child .float-button-child {
  opacity: 0.8;
}
body.show-float-child .color-picker-sv,
body.show-float-child .color-picker-hue {
  opacity: 0;
}

.clear {
  clear: both;
}
#control {
  right: 0;
  top: 0;
}
#control .ctrl {
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: block;
  float: right;
  cursor: pointer;
  text-align: center;
}

#status {
  left: 0;
  bottom: 0;
  font-size: 70%;
  color: #aaa;
}
